<div class="h-[90vh] p-2 flex flex-col justify-between">
    <div class="flex flex-col justify-between h-full">
        <div class="flex flex-col justify-between">
            <h3 class="mb-0!">{{ 'dice_roll.results' | translate }}</h3>
            <div class="flex items-center flex-wrap">
                <ng-container *ngIf="advantageLength > 0">
                    <div *ngFor="let i of [].constructor(advantageLength)" class="flex items-center justify-center size-[50px] rounded-[10px] overflow-hidden"
                        [matTooltip]="'dice_roll.advantage' | translate">
                        <img class="h-[35px]" src="{{ 'assets/icons/' + EDiceSymbol.advantage + '.png' }}" />
                    </div>
                </ng-container>
                <ng-container *ngIf="advantageLength < 0">
                    <div *ngFor="let i of [].constructor(-advantageLength)" class="flex items-center justify-center size-[50px] rounded-[10px] overflow-hidden"
                        [matTooltip]="'dice_roll.disadvantage' | translate">
                        <img class="h-[35px]" src="{{ 'assets/icons/' + EDiceSymbol.disadvantage + '.png' }}" />
                    </div>
                </ng-container>
                <ng-container *ngIf="successLength > 0">
                    <div *ngFor="let i of [].constructor(successLength)" class="flex items-center justify-center size-[50px] rounded-[10px] overflow-hidden"
                        [matTooltip]="'dice_roll.success' | translate">
                        <img class="h-[35px]" src="{{ 'assets/icons/' + EDiceSymbol.success + '.png' }}" />
                    </div>
                </ng-container>
                <ng-container *ngIf="successLength < 0">
                    <div *ngFor="let i of [].constructor(-successLength)" class="flex items-center justify-center size-[50px] rounded-[10px] overflow-hidden"
                        [matTooltip]="'dice_roll.fail' | translate">
                        <img class="h-[35px]" src="{{ 'assets/icons/' + EDiceSymbol.fail + '.png' }}" />
                    </div>
                </ng-container>
                <ng-container *ngIf="criticalLength > 0">
                    <div *ngFor="let i of [].constructor(criticalLength)" class="flex items-center justify-center size-[50px] rounded-[10px] overflow-hidden"
                        [matTooltip]="'dice_roll.critical_success' | translate">
                        <img class="h-[35px]" src="{{ 'assets/icons/' + EDiceSymbol.critical + '.png' }}" />
                    </div>
                </ng-container>
                <ng-container *ngIf="criticalLength < 0">
                    <div *ngFor="let i of [].constructor(-criticalLength)" class="flex items-center justify-center size-[50px] rounded-[10px] overflow-hidden"
                        [matTooltip]="'dice_roll.critical_fail' | translate">
                        <img class="h-[35px]" src="{{ 'assets/icons/' + EDiceSymbol.anti_critical + '.png' }}" />
                    </div>
                </ng-container>
                <ng-container *ngIf="positiveLength > 0">
                    <div *ngFor="let i of [].constructor(positiveLength)" class="flex items-center justify-center size-[50px] rounded-[10px] overflow-hidden"
                        [matTooltip]="'dice_roll.critical_success' | translate">
                        <img class="h-[35px]" src="{{ 'assets/icons/' + EDiceSymbol.positive + '.png' }}" />
                    </div>
                </ng-container>
                <ng-container *ngIf="positiveLength < 0">
                    <div *ngFor="let i of [].constructor(-positiveLength)" class="flex items-center justify-center size-[50px] rounded-[10px] overflow-hidden"
                        [matTooltip]="'dice_roll.critical_fail' | translate">
                        <img class="h-[35px]" src="{{ 'assets/icons/' + EDiceSymbol.negative + '.png' }}" />
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex items-center flex-wrap">
                <!-- TODO: REMOVE DICE ON CLICK -->
                <div *ngFor="let r of results" class="flex items-center flex-wrap z-2" [@bounceDice]="rollState">
                    <div class="flex items-center justify-center size-[50px] m-1 rounded-[10px] overflow-hidden" [ngClass]="getColorClass(r.color)"
                        [@rotateDice]="rollState">
                        <img class="h-[25px]" *ngFor="let s of r.symbols" src="{{ 'assets/icons/' + s + '.png' }}" />
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap mt-4">
                <button *ngFor="let d of defaultDices" class="m-2" matMiniFab aria-label="Add a dice"
                    [matBadge]="getDiceNumberById(d.id)" [matBadgeHidden]="getDiceNumberById(d.id) < 1"
                    [ngClass]="d.color" (click)="addDice(d)">
                    <img class="w-[26px]" src="{{ 'assets/icons/' + d.defaultSymbol + '.png' }}" />
                </button>
            </div>
            <div class="flex justify-end mt-4 mb-2">
                <button (click)="closeDialog()" class="w-full mx-2" matButton="filled">
                    {{ 'dice_roll.back' | translate }}
                </button>
                <button (click)="rollDices()" class="w-full mx-2" matButton="filled" color="primary">
                    {{ 'dice_roll.roll' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>