.roll-ctn {
    width: calc(80vw - 2rem);
    height: 80vh;
}

.dice_result {
    height: 50px;
}

h3 {
    margin-bottom: 0;
}

.radius {
    border-radius: 10px;
    overflow: hidden;
}

.square {
    height: 50px;
    width: 50px;
}