<div class="roll-ctn bg-light-gray p-1">
    <div class="column between h-100">
        <ng-container *ngIf="!results; else resultsTmp">
            <div class="d-flex between wrap">
                <button *ngFor="let d of defaultDices" [matBadge]="getDiceNumberById(d.id)"
                    [matBadgeHidden]="getDiceNumberById(d.id) < 1" class="m-05" [ngClass]="d.color" mat-mini-fab
                    aria-label="Add a dice" (click)="addCounterDice(d)">
                    <img class="icon" src="assets/icons/dice.png" />
                </button>
            </div>
        </ng-container>
        <ng-template #resultsTmp>
            <div class="center wrap">
                <div *ngFor="let r of results" class="center m-025 radius">
                    <div class="center h-50px" [ngClass]="getColorClass(r.color)" *ngFor="let s of r.symbols">
                        <img class="dice_result" src="{{ 'assets/icons/' + s + '.png' }}" />
                    </div>
                    <div class="center" [className]="r.color" *ngIf="!r.symbols.length">
                        <div class="square"></div>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="d-flex around roll-btn-ctn mt-1">
            <button [mat-dialog-close]="rollCount" class="roll-btn my-05" mat-raised-button>
                {{ 'dice_roll.back' | translate }}
            </button>
            <button (click)="results ? rerollDices() : rollDices()" class="roll-btn my-05" mat-raised-button color="primary">
                {{ ('dice_roll.' + (results ? 're' : '') + 'roll') | translate }}
            </button>
        </div>
    </div>
</div>