@import "tailwindcss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 800px) {
    .flex-ctn {
        flex-direction: column;
    }
}

.black {
    background-color: #212121 !important;
}

.blue {
    background-color: #3c9bd6 !important;
}

.gold {
    background-color: #FFD700 !important;
}

.green {
    background-color: #174a19 !important;
}

.orange {
    background-color: #e67200 !important;
}

.purple {
    background-color: #54096b !important;
}

.red {
    background-color: #800d12 !important;
}

.white {
    background-color: #cccccc !important;
}

.yellow {
    background-color: #bdb10b !important;
}

.modal {
    .mat-mdc-dialog-surface.mdc-dialog__surface {
        background-color: lightgray !important;
    }
}
